{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}

{% block title %}{% if form.instance.pk %}
    {% trans "Edit Character" %}
  {% else %}{% trans "Create Character" %}
  {% endif %}
{% endblock %}

{% block extra_css %}
<style>
  .form-section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
  }

  .form-section h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6;
  }

  .preview-container {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-height: 200px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>{% if form.instance.pk %}{% trans "Edit Character" %}{% else %}{% trans "Create Character" %}{% endif %}</h1>

  <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- Basic Information Section -->

    <div class="form-section">
      <div class="mb-3">
        {{ form.use_css }}
        <label class="form-check-label" for="{{ form.use_css.id_for_label }}">
          {{ form.use_css.label }}
        </label>
        <div class="form-text">{% trans "Select to use CSS to format your description, otherwise BBCode will be used." %}</div>
      </div>
    </div>

    <div class="form-section">
      <h3>{% trans "Basic Information" %}</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
            {{ form.name|add_class:'form-control'|attr:'required' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="{{ form.gender.id_for_label }}" class="form-label">{{ form.gender.label }}</label>
            {{ form.gender|add_class:'form-select'|attr:'required' }}
            {% if form.gender.errors %}
            <div class="invalid-feedback d-block">
              {% for error in form.gender.errors %}
              {{ error }}
              {% endfor %}
            </div>
            {% else %}
              <div class="invalid-feedback">
                <!-- Empty feedback for validation -->
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="{{ form.species.id_for_label }}" class="form-label">{{ form.species.label }}</label>
            {{ form.species|add_class:'form-select'|attr:'required' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label for="{{ form.height.id_for_label }}" class="form-label">{{ form.height.label }}</label>
            <div class="input-group">
              {{ form.height|add_class:'form-control' }}
              <span class="input-group-text">{% trans "cm" %}</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3">
            <label for="{{ form.body_type.id_for_label }}" class="form-label">{{ form.body_type.label }}</label>
            {{ form.body_type|add_class:'form-select'|attr:'required' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
              <label for="{{ form.weight.id_for_label }}" class="form-label">{{ form.weight.label }}</label>
              <div class="input-group">
                {{ form.weight|add_class:'form-control' }}
                <span class="input-group-text">{% trans "kg" %}</span>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="{{ form.age.id_for_label }}" class="form-label">{{ form.age.label }}</label>
            {{ form.age|add_class:'form-select'|attr:'required' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="{{ form.current_status.id_for_label }}" class="form-label">{{ form.current_status.label }}</label>
            {{ form.current_status|add_class:'form-select'|attr:'required' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="{{ form.current_mood.id_for_label }}" class="form-label">{{ form.current_mood.label }}</label>
            {{ form.current_mood|add_class:'form-control' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>

      <div class="mb-3">
          <label for="{{ form.custom_status.id_for_label }}" class="form-label">{{ form.custom_status.label }}</label>
          {{ form.custom_status|add_class:'form-select'|attr:'required' }}
          <div class="invalid-feedback"></div>
      </div>
      </div>

      <div class="form-check mb-3">
        {{ form.public }}
        <label class="form-check-label" for="{{ form.public.id_for_label }}">
          {{ form.public.label }}
        </label>
      </div>

      <div class="form-check mb-3">
        {{ form.allow_random_rp }}
        <label class="form-check-label" for="{{ form.allow_random_rp.id_for_label }}">
          {{ form.allow_random_rp.label }}
        </label>
      </div>
    </div>

    <!-- Description Section -->
    <div class="form-section">
      <h3>{% trans "Description" %}</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
            {{ form.description|add_class:'form-control'|attr:'required' }}
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>{% trans "More Description" %}</h3>
      <div class="mb-3">
        <label for="{{ form.appearance.id_for_label }}" class="form-label">{{ form.appearance.label }}</label>
        {{ form.appearance }}
      </div>

      <div class="mb-3">
        <label for="{{ form.personality.id_for_label }}" class="form-label">{{ form.personality.label }}</label>
        {{ form.personality }}
      </div>

      <div class="mb-3">
        <label for="{{ form.background.id_for_label }}" class="form-label">{{ form.background.label }}</label>
        {{ form.background }}
      </div>
    </div>

    <!-- Private Details Section -->
    <div class="form-section">
      <h3>{% trans "Advanced Details" %}</h3>

      <div class="mb-3">
        <label for="{{ form.private_details.id_for_label }}" class="form-label">{{ form.private_details.label }}</label>
        {{ form.private_details }}
        <div class="form-text">{{ form.private_details.help_text }}</div>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <a href="{% url 'accounts:profile_detail' username=request.user.username %}" class="btn btn-secondary">
        {% trans "Cancel" %}
        <div class="invalid-feedback"></div>
      </a>
      <button type="submit" class="btn btn-primary" id="submit-button">
        {% if form.instance.pk %}
          {% trans "Update Character" %}{% else %}{% trans "Create Character" %}{% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');

    form.addEventListener('submit', function(event) {
        // Remove existing validation feedback
        form.querySelectorAll('.invalid-feedback').forEach(e => e.textContent = '');

        let isValid = true;

        // Required fields validation
        const requiredFields = form.querySelectorAll('[required]');
        requiredFields.forEach(field => {
          if (field.value.trim() === '') {
            isValid = false;
            field.classList.add('is-invalid');
            field.nextElementSibling.textContent = 'This field is required.';
          } else if (field.name === 'name' && field.value.length > 50){
            isValid = false;
            field.classList.add('is-invalid');
            field.nextElementSibling.textContent = 'This field must have 50 characters max.';
          }else {
            field.classList.remove('is-invalid');
          }
        });

        const descriptionField = form.querySelector('#id_description');
        if (descriptionField) {
          const descriptionValue = descriptionField.value.trim();
          if (descriptionValue.length < 100 || descriptionValue.length > 1000) {
            isValid = false;
            descriptionField.classList.add('is-invalid');
            if (descriptionValue.length < 100) {
                descriptionField.nextElementSibling.textContent = 'This field must have 100 characters min.';
            } else {
                descriptionField.nextElementSibling.textContent = 'This field must have 1000 characters max.';
            }
          } else {
            descriptionField.classList.remove('is-invalid');
        }
      });

      if (!isValid) {
        event.preventDefault();
        event.stopPropagation();
      }


        form.querySelectorAll('input, select, textarea').forEach(field => {
            if(field.hasAttribute('required') || field.id === 'id_description'){
                field.addEventListener('input', function() {
                    field.classList.remove('is-invalid');
                    field.nextElementSibling.textContent = '';
                    if (field.id === 'id_name' && field.value.length > 50) {
                        field.classList.add('is-invalid');
                        field.nextElementSibling.textContent = 'This field must have 50 characters max.';
                    } else if (field.id === 'id_description') {
                        const descriptionValue = field.value.trim();
                        if (descriptionValue.length < 100 || descriptionValue.length > 1000) {
                            field.classList.add('is-invalid');
                            if (descriptionValue.length < 100) {
                                field.nextElementSibling.textContent = 'This field must have 100 characters min.';
                            } else {
                                field.nextElementSibling.textContent = 'This field must have 1000 characters max.';
                            }
                        } else {
                            field.classList.remove('is-invalid');
                            field.nextElementSibling.textContent = '';
                        }
                    } else if (field.hasAttribute('required') && field.value.trim() === '') {
                        field.classList.add('is-invalid');
                        field.nextElementSibling.textContent = 'This field is required.';
                    }
                });
      });
    });
  });
</script>
{% endblock %}
